<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <title>Groupie-Tracker</title>
  </head>
  <body>
    <nav>
      <a class="logo"><img src="../static/img/x32icon.png" alt="logo" /></a>
      <a>Groupie-Tracker</a>
      <div class="right-nav">
        <a href="/">Accueil</a>
        <a href="/groupes">Groupes</a>
        <a href="https://github.com/7cMyrzen/Groupie-Tracker"
          ><img src="../static/img/x32github.png"
        /></a>
      </div>
    </nav>
    <div class="body-content">
      <div class="content-header ch1">Bienvenue sur Groupie-Tracker</div>
      <div class="content-body cb1">
        <div class="cb1-left">
          <p>
            Groupie-Tracker est un site web qui vous permet de suivre vos
            groupes de musique préférés. Vous pouvez consulter les informations
            sur les groupes, les albums et les concerts. Vous pouvez également
            lancer des recherches sur spotify, youtube et deezer.
          </p>
        </div>
        <div class="cb1-right">
          <img src="../static/gif/spotify_search.gif" alt="gif" />
        </div>
      </div>
    </div>
    <div class="body-content">
      <div class="content-header">Comment ça marche ?</div>
      <div class="content-body cb2">
        <div class="cb2-left">
          <form action="/groupes" method="get">
            <button class="custom-btn btn-12" type="submit">
              <span>Entrer!</span><span>Groupes</span>
            </button>
          </form>
        </div>
        <div class="cb2-right">
          <p>
            Pour ouvrir le site, cliquez sur le bouton 'Groupes' en haut de la
            page ou cliquez sur le bouton situe a droite de ce texte.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
